body {
    background-color: rgb(63, 35, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Bitter", serif;
    font-weight: 300;
}

header {
    text-align: center;
}

.main-title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 50px;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.sub-title {
    margin-top: 0px;
    font-size: 24px;
    font-weight: 900;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    margin-top: 10px;
    height: 370px;
    width: 370px;
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(3, 110px);
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.status {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    margin-top: 10px;
}

.field {
    height: 110px;
    width: 110px;
    /* border: 1px solid white; */
    background-color: rgb(86, 49, 180);
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.field:hover {
    background-color: rgb(77, 44, 162);
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

#restart {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: rgb(160, 69, 0);
    border-radius: 10px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
}

#restart:hover {
    background-color: rgb(183, 79, 0);
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}