body {
    background-color: rgb(57, 17, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Bitter", serif;
    font-weight: 300;
}

div {
    /* border: 1px solid white; */
}

.logo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: rgb(34, 13, 86);
}

header {
    width: 100vw;
    text-align: center;
    height: 170px;
    /* border: 1px solid white; */
}

header a {
    text-decoration: none;
    color: inherit;
}

.menu {
    width: 100vw;
    height: 40px;
    background-color: rgb(34, 13, 86);
    display: flex;
    justify-content: center;
    color: white;
}

.menuOption {
    display: block;
    width: 190px;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 700;
    transition: 0.2s ease-out;
}

.menuOption:hover {
    background-color: rgb(44, 18, 112);
    cursor: pointer;
}

.main-title {
    font-size: 88px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 10px;
    text-shadow: 
    7px 7px 7px rgba(0, 0, 0, 0.3),
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}

.sub-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-shadow:
    6px 6px 6px rgba(0, 0, 0, 0.3),
    -0.5px -0.5px 0 white,  
    0.5px -0.5px 0 white,
    -0.5px  0.5px 0 white,
    0.5px  0.5px 0 white;
}

.container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 580px; 
    justify-content: center;
    align-items: center;

}

.scoreContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(300px);
    width: 240px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
    margin-top: 60px;
    color: white;
}

.scoreText {
    width: 100px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}

.score {
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(136, 158, 214);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameContainer3x3 {
    position: relative;
    width: 400px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board3x3 {
    margin-top: 80px;
    height: 370px;
    width: 370px;
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(3, 110px);
    justify-content: center;
    align-content: center;
    gap: 10px;
}

#gameContainer4x4 {
    position: relative;
    width: 520px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board4x4 {
    margin-top: 10px;
    height: 490px;
    width: 490px;
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(4, 110px);
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.field {
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 49, 180);
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    font-family: "Roboto";
    font-size: 60px;
    font-weight: bold;
}

.field:hover{
    background-color: rgb(77, 44, 162);
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

@keyframes clickAnimation {
    0% { transform: scale(1.05); }
    50% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

.clickAnimation {
    animation: clickAnimation 0.2s ease-in-out;
}

.restartButton {
    position: relative;
    height: 45px;
    width: 150px;
}

#restartButton3x3 {
    margin-top: 70px;
}

#restartButton4x4 {
    margin-top: 20px;    
}

.restartShadow {
    position: absolute;
    background-color: rgb(131, 88, 31);
    height: 25px;
    width: 150px;
    top: 20px;
    border-radius: 5px;
}

#restart {
    position: relative;
    z-index: 10;
    width: 150px;
    height: 40px;
    background-color: rgb(241, 186, 114);
    border-radius: 5px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    border: 0;
    transition: 0.2s ease;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

#restart:hover {
    background-color: rgb(213, 154, 78);
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

#restart:active {
    top: 5px;
}



.field.x {
    background-color: rgba(229, 191, 53, 0.5);
}

.field.o {
    background-color: rgba(191, 21, 86, 0.5);
}

.winner {
    background-color: rgb(113, 168, 30) !important;
}

.blank {
    background-color: rgb(34, 13, 86) !important;
}

.x:hover, .o:hover, .winner:hover, .blank:hover {
    transform: none;
    cursor: default;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}