.container {
    display: flex;
    flex-direction: column;
    width: 1040px;
    height: 1810px;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
    padding: 20px;
    color: rgb(230, 230, 230);
    font-size: 23px;
    font-weight: 500;
}

.example {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1040px;
    height: 420px;
    overflow: hidden;
}

.exampleText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(230, 230, 230);
    font-size: 30px;
    font-weight: 500;
    width: 1040px;
    height: 80px;
    padding-top: 10px;
}

.imageContainer {
    position: relative;
    height: 296px;
    width: 447px;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.image.active {
    opacity: 1;
}

.exampleGIF {
    position: relative;
    width: 1040px;
    height: 300px;
    display: flex;
    justify-content: center;
}

.alphaBetaExample {
    width: 1000px;
    height: 650px;
    display: flex;
    flex-direction: column;
    color: rgb(230, 230, 230);
    font-size: 23px;
    font-weight: 500;
    padding: 20px;
}

.ABText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(230, 230, 230);
    font-size: 30px;
    font-weight: 500;
    width: 1040px;
    height: 80px;
    padding-top: 10px;
}

.ABImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1040px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}