.container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 580px; 
    justify-content: center;
    align-items: center;

}

.scoreContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(300px);
    width: 240px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.difficultyContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-580px);
    width: 320px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 110px;
    color: white;
}

.visualizationContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-580px);
    width: 320px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 230px;
    color: white;
}

.moveSelectContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-580px);
    width: 320px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 370px;
    color: white;
}

.status {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
    margin-top: 60px;
    color: white;
}

.scoreText {
    width: 100px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}

.score {
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(136, 158, 214);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameContainer3x3 {
    position: relative;
    width: 400px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board3x3 {
    margin-top: 80px;
    height: 370px;
    width: 370px;
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(3, 110px);
    justify-content: center;
    align-content: center;
    gap: 10px;
}

#gameContainer4x4 {
    position: relative;
    width: 520px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board4x4 {
    margin-top: 10px;
    height: 490px;
    width: 490px;
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(4, 110px);
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.field {
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 49, 180);
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    font-family: "Roboto";
    font-size: 60px;
    font-weight: bold;
}

.field:hover{
    background-color: rgb(77, 44, 162);
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

@keyframes clickAnimation {
    0% { transform: scale(1.05); }
    50% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

.clickAnimation {
    animation: clickAnimation 0.2s ease-in-out;
}

.field.x {
    background-color: rgba(229, 191, 53, 0.5);
}

.field.o {
    background-color: rgba(191, 21, 86, 0.5);
}

.winner {
    background-color: rgb(113, 168, 30) !important;
}

.blank {
    background-color: rgb(34, 13, 86) !important;
}

.x:hover, .o:hover, .winner:hover, .blank:hover {
    transform: none;
    cursor: default;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}